<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, consequatur eos maxime ipsam libero animi nemo, ratione culpa soluta amet nisi, facere odit voluptatem illum aliquam possimus. Quibusdam, praesentium natus?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem id perferendis quia? Recusandae vitae voluptas officia eaque adipisci, magni alias iure numquam eveniet quisquam odio nihil assumenda sunt, excepturi quae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis animi iure laboriosam velit, tempora quasi blanditiis dolorem optio? Libero sed cumque eligendi corrupti perspiciatis hic expedita eaque, possimus fugit harum.</p>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>